# Data Science Tools and Ecosystem

## Author

Angarika Ajgaonkar

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** List popular languages for Data Science

- Python
- R
- SAS
- Scala

Some of the popular languages that Data Scientists use are:

1.Python
2.SAS
3.R

1. Python
2. SAS
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. NumPy

|Data Science Tools|
|-------------------|
|Apache Spark|
|Apache Hadoop|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335